@import '../../styles/variaveis.module.scss';
.parteFinal {
  display: flex;
  justify-content: space-around;
  padding: 20px;

  ul {
    display: flex;
    gap: 20px;
    padding: 0;
    list-style: none;
    position: relative;
    bottom: 0px;
  }

  li {
    background-color: $cor-branca-como-a-neve;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 300px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $ft-textos;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: translateY(-60px); // Efeito de elevação ao passar o mouse
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    }
  }

  .imagem {
    max-width: 80px;
    margin-bottom: 20px;
  }

  .descricao {
    font-size: 14px;
    line-height: 1.6;
    color: $cor-primaria;
    margin-top: 10px;
    font-family: $ft-textos;
  }

  h3 {
    font-size: 20px;
    color: $cor-secundaria;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: $ft-titulos;
  }

  .divider {
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: $cor-secundaria;
    margin: 10px 0;
  }
}
