@import '../../styles/variaveis.module.scss';

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    background: $gradiente-primario;
    position: sticky
}


.header{
    padding: 2rem;
}

.linha{
    border-top: 1px $cor-solida;
    width: 80%;
}
.linksContainer{
    display: flex; // mudar para flex
    justify-content: center; // para centralizar os links
    gap: 2rem;
}
.links{
    list-style-type: none;
    :hover{
        color: $cor-secundaria;
    }
}
.informations{
    text-decoration: none;
    color: $cor-primaria;
    font-weight: 400;
    font-family: $ft-textos;

}
.linha2 {
    border-top: 1px solid #c3c3c3; // ajuste a cor para o que está no Figma
    width: 100%; // ajuste se necessário
  }